# PIL==1.1.7
# pip install --no-index -f http://dist.plone.org/thirdparty/ -U PIL
django-cuddlybuddly-storage-s3==2.8
django-cuddlybuddly-thumbnail==2.5
django-debug-toolbar==0.8.3
lxml==2.3
psycopg2==2.0.13
python-dateutil==1.4.1
sorl-thumbnail==11.05.2
wsgiref==0.1.2
