{% extends "base_reader_form.html" %}

{% block css %}
<style type="text/css">
	<!--
	table {
		margin: 10px 0 10px 0;
		border: 1px solid #000000;
		width: 100%;
	}
	#wrapper {
		background: #eee;
	}
	-->
</style>
<link rel="stylesheet" type="text/css" href="http://static.registerguard.com/colorbox/example4/colorbox.css">
{% endblock %}

{% block content %}
	<div class="wrapper">
		<p>Death Notices created from {{ last_month_start }}, to {{ last_month_end }}: <h2>{{ dn_count }}</h2><p>
		<p>Death Notices created and entered into publishing system from {{ last_month_start }}, to {{ last_month_end }}: <h2>{{ dn_count_in_system }}</h2><p>
	</div>
{% endblock content %}