<div class="dns_by_date">
	{% regroup dns by death_notice_created|date:'l, F j, Y' as dn_by_day %}

	{% for dn in dn_by_day %}
	<h1>{{ dn.grouper }}</h1>

	<div class="dn">
	{% for dn_obj in dn.list|dictsort:'last_name' %}
		<a href="http://{{ site }}{% url dn_detail dn_obj.id %}" target="_blank"><h2>{{ dn_obj.first_name }} {{ dn_obj.last_name }}</h2></a>
		<p>{{ dn_obj.first_name }} {% if dn_obj.middle_name %}{{ dn_obj.middle_name }} {% endif %}{% if dn_obj.nickname %}“{{ dn_obj.nickname}}” {% endif %}{{ dn_obj.last_name }}, {{ dn_obj.age_unit_combo }}, of {{ dn_obj.city_of_residence }}{% if dn_obj.formerly_of %}, formerly of {{ dn_obj.formerly_of }}{% endif %} …</p>
	{% endfor %}
	</div> <!-- /.dn -->
	{% endfor %}
	
</div> <!-- /.dns_by_date -->
