{% extends "base_reader_form.html" %}

{% block title %}Administration home page for {{ user.fh_user2.full_name }}{% endblock %}

{% block css %}
<style type="text/css">
	<!--
	#wrapper {
		background: #eee;
	}
	-->
</style>
{% endblock %}

{% block content %}
<div class="wrapper">
	{% if messages %}
		{% for message in messages %}
			<p style="color: blue; font-weight: bold;">{{ message }}</p>
		{% endfor %}
	{% endif %}
	
	<p>Hello {{ user.fh_user2.full_name }}</p>
	<p><a href="{% url logout2 %}">Logout</a>&nbsp;|&nbsp;<a href="{% url add_death_notice2 %}">Add death notice</a>&nbsp;|&nbsp;<a href={% url add_obituary2 %}>Add obituary</a></p>
	
	<h3>Deadlines</h3>
	<p>
		{# Monday deadline is 2 p.m. the previous Thursday.<br> #}
		Monday deadline is 2 p.m. the previous Wednesday.<br>
		Tuesday deadline is 2 p.m. the previous Friday.<br>
		Wednesday deadline is 2 p.m. the previous Friday.<br>
		Thursday deadline is 2 p.m. the previous Monday.<br>
		Friday deadline is 2 p.m. the previous Tuesday.<br>
		Saturday deadline is 2 p.m. the previous Tuesday.<br>
		{# Sunday deadline is 2 p.m. the previous Wednesday.<br> #}
		Sunday deadline is 2 p.m. the previous Tuesday.<br>
	</p>
	
	{% if death_notices %}
	<h3>Death notices</h3>
	{% for death_notice in death_notices %}
		<p><a href="{% url manage_death_notice2 death_notice.pk %}">{{ death_notice }}</a>, created {{ death_notice.death_notice_created|date:"l, N j, Y, P" }} <br>
		<b>Status: <a href="{% url manage_death_notice2 death_notice.pk %}#id_status">{{ death_notice.get_status_display }}</a></b></p>
	{% endfor %}
	{% endif %}
	
	{% if obituaries %}
	<h3>Obituaries</h3>
	{% for obituary in obituaries %}
	<div class="clear">
		{% if obituary.photo.name %}
		<div style="float: left; margin-right: 12px;">
			<a href="http://{{ obituary.photo.storage.bucket }}.{{ obituary.photo.storage.connection.server }}/{{ obituary.photo.name }}">{{ obituary.admin_thumbnail|safe }}</a>
			{% if obituary.photo_two.name %}<br><a href="http://{{ obituary.photo_two.storage.bucket }}.{{ obituary.photo_two.storage.connection.server }}/{{ obituary.photo_two.name }}">{{ obituary.admin_thumbnail_two|safe }}</a>{% endif %}
		</div>
		{% endif %}
		{% if obituary.photo.name %}<p style="margin-left: 72px;">{% endif %}<a href="{% url manage_obituary2 obituary.pk %}">{{ obituary }}</a>, created {{ obituary.obituary_created|date:"l, N j, Y, P" }} <br>
		<b>Status: <a href="{% url manage_obituary2 obituary.pk %}#id_status">{{ obituary.get_status_display }}</a></b>{% if obituary.obituary_publish_date %}<br>
		<b>Published in <i>The Register-Guard</i>:</b> <a href="http://www.registerguard.com/web/news/obituaries/" title="Register-Guard obituary index" onclick="javascript:window.open(this.href); return false;">{{ obituary.obituary_publish_date|date:"l, N j, Y" }}</a>{% endif %}</p>
	</div>
	{% endfor %}
	{% endif %}
</div>
{% endblock content %}
