{% extends "base_reader_form.html" %}

{% block css %}
{% include "snippets/css.html" %}
{% endblock %}
{% block content %}
<div class="wrapper">
		<!-- <h3 class="sep">Flag a comment</h3> -->
		<div class="nw bgfff mb15">
			<div class="ne"><div class="se"><div class="sw">
				<div class="clear">
					<h3>Please stand by ... </h3>
					<p>In order to add a feature you've requested, we're in maintenance mode for just a bit.</p>
					<p>Check back in 10 minutes.</p>
				</div> <!-- /.clear -->
			</div> <!-- /.ne --> </div> <!-- /.se --> </div> <!-- /.sw -->
		</div> <!-- /.nw -->
</div> <!-- /.wrapper -->
{% endblock %}