{% extends "base_reader_form.html" %}
{% load adminmedia %}
{% load thumbnail_tags %}

{% block js %}
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="http://cloud.registerguard.com/colorbox/jquery.colorbox.js"></script>
<script type="text/javascript" src="http://rg-assets.s3.amazonaws.com/v3.5/js/registerguard.js"></script>
{% endblock %}

{% block css %}
<style type="text/css" media="screen">
	<!--
	table {
		margin: 10px 0 10px 0;
		border: 1px solid #000000;
		width: 100%;
	}
	#wrapper {
		background: #eee;
	}
	-->
</style>
<link rel="stylesheet" type="text/css" href="http://cloud.registerguard.com/colorbox/example4/colorbox.css" media="screen">

<!-- *** THIS BELOW NEEDS TO MOVE. ASK MICKY. *** -->

<style type="text/css" media="screen">
	<!--
	#cboxLoadedContent {
		width: 400px !important;
		text-align: justify;
		font-family: "Times New Roman", Times;
	}
	
	#obit-head {
		font-family: Arial;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}
	
	#estimator {
		color: black;
	}
	
	#id_obituary_body {
		width: 35em;
	}
	
	#rg_class_rep {
		color: blue;
	}
	-->
</style>

{% endblock %}

{% block content %}
<div class="wrapper">
	{% if messages %}
		{% for message in messages %}
			<p style="color: blue; font-weight: bold;">{{ message }}</p>
		{% endfor %}
	{% endif %}
	
	<table>
		<tr><td><a href="{% url death_notice_index2 %}">Home</a>&nbsp;|&nbsp;<a href="{% url logout2 %}">Logout</a></td></tr>
		<tr><td>Hello {{ user.fh_user2.full_name }}</td></tr>
	</table>
	
	{% if form.is_multipart %}
	<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
	{% else %}
	<form action="" method="post">{% csrf_token %}
	{% endif %}

	<table>
		<tr class="required" width="100%"><th colspan="2">Items in red are required.</th></tr>
		
		<tr>
			<th colspan="2" class="required">
			{% if form.errors or formset.errors %}
				
				Please address the error(s) below.
				
			{% endif %}
			</th>
		</tr>
		
		<tr {% if form.death_notice.field.required %}class="required"{% endif %}>
			<th>
				{{ form.death_notice.label_tag }}:
			</th>
			<td>
				{{ form.death_notice.errors }}
				{{ form.death_notice }}
				{% if form.death_notice.help_text %}<p>{{ form.death_notice.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.date_of_birth.field.required %}class="required"{% endif %}>
			<th>
				{{ form.date_of_birth.label_tag }}:
			</th>
			<td>
				{{ form.date_of_birth.errors }}
				{{ form.date_of_birth }}
				{% if form.date_of_birth.help_text %}<p>{{ form.date_of_birth.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.print_date_format.field.required %}class="required"{% endif %}>
			<th>
				{{ form.print_date_format.label_tag }}:
			</th>
			<td>
				{{ form.print_date_format.errors }}
				{{ form.print_date_format }}
				{% if form.print_date_format.help_text %}<p>{{ form.print_date_format.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.obituary_body.field.required %}class="required"{% endif %}>
			<th>
				{{ form.obituary_body.label_tag }}:
			</th>
			<td>
				{{ form.obituary_body.errors }}
				{{ form.obituary_body }}
				{% if form.obituary_body.help_text %}<p>{{ form.obituary_body.help_text|safe }}</p>{% endif %}
				<p id="estimator"><span id="obit_text_count"></span> characters. Cost: <span id="obit_text_cost">0</span></p>
			</td>
		</tr>
		
		<tr {% if form.obituary_publish_date.field.required %}class="required"{% endif %}>
			<th>
				{{ form.obituary_publish_date.label_tag }}:
			</th>
			<td>
				{{ form.non_field_errors }}
				{{ form.obituary_publish_date }}
				{% if form.obituary_publish_date.help_text %}<p>{{ form.obituary_publish_date.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.flag.field.required %}class="required"{% endif %}>
			<th>
				{{ form.flag.label_tag }}:
			</th>
			<td>
				{{ form.flag.errors }}
				{{ form.flag }}
				{% if form.flag.help_text %}<p>{{ form.flag.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.service_insignia.field.required %}class="required"{% endif %}>
			<th>
				{{ form.service_insignia.label_tag }}:
			</th>
			<td>
				{{ form.service_insignia.errors }}
				{{ form.service_insignia }}
				{% if form.service_insignia.help_text %}<p>{{ form.service_insignia.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
	</table>
	
	<table>
	
		<tr {% if form.family_contact.field.required %}class="required"{% endif %}>
			<th>
				{{ form.family_contact.label_tag }}:
			</th>
			<td>
				{{ form.family_contact.errors }}
				{{ form.family_contact }}
				{% if form.family_contact.help_text %}<p>{{ form.family_contact.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.photo.field.required %}class="required"{% endif %}>
			<th>
				{{ form.photo.label_tag }}:
			</th>
			<td>
				{{ form.photo.errors }}
				{{ form.photo }}
				{% if form.photo.help_text %}<p>{{ form.photo.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.photo_two.field.required %}class="required"{% endif %}>
			<th>
				{{ form.photo_two.label_tag }}:
			</th>
			<td>
				{{ form.photo_two.errors }}
				{{ form.photo_two }}
				{% if form.photo_two.help_text %}<p>{{ form.photo_two.help_text|safe }}</p>{% endif %}
			</td>
		</tr>

		<tr {% if form.family_contact_phone.field.required %}class="required"{% endif %}>
			<th>
				{{ form.family_contact_phone.label_tag }}:
			</th>
			<td>
				{{ form.family_contact_phone.errors }}
				{{ form.family_contact_phone }}
				{% if form.family_contact_phone.help_text %}<p>{{ form.family_contact_phone.help_text|safe }}</p>{% endif %}
			</td>
		</tr>

	</table>
	
	<table>
		
		<tr {% if form.submitted_by.field.required %}class="required"{% endif %}>
			<th>
				{{ form.submitted_by.label_tag }}:
			</th>
			<td>
				{{ form.submitted_by.errors }}
				{{ form.submitted_by }}
				{% if form.submitted_by.help_text %}<p>{{ form.submitted_by.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.status.field.required %}class="required"{% endif %}>
			<th>
				{{ form.status.label_tag }}:
			</th>
			<td>
				{{ form.status.errors }}
				{{ form.status }}
				{% if form.status.help_text %}<p>{{ form.status.help_text|safe }}</p>{% endif %}
				{% if current_obit.death_notice.funeral_home.fh_user2.rg_rep %}<p id="rg_class_rep">Your classified advertising representative is {{ current_obit.death_notice.funeral_home.fh_user2.rg_rep.user.get_full_name }}, {{ current_obit.death_notice.funeral_home.fh_user2.rg_rep.rg_rep_phone }}.</p>{% endif %}
			</td>
		</tr>
		
	</table>
	
	<table>
		<tr>
			<td>
				<input type="submit" name="delete" value="Delete" /> 
				<input type="submit" name="submit_add" value="Save and add another" /> 
				<input type="submit" name="submit_continue" value="Save and continue editing" /> 
				<input type="submit" name="submit" value="Save" />
			</td>
		</tr>
	</table>
	</form>
	
	{% if obituary_id %}<p style="font-weight: bold;"><a class="preview_ob" href="#">See a preview</a> | <a href="{% url print_obituary2 obituary_id %}" rel="external">Print the preview</a></p>{% endif %}
	
	<div style="display: none;">
		<div id="preview_ob">
			{% if current_obit.photo.name %}
				<div id="obit_image" style="float: left; margin-right: 14px; margin-bottom: 8px; "><a href="{{ MEDIA_URL }}/{{ current_obit.photo.name }}">{% thumbnail current_obit.photo.name 180 180 %}</a>
				{% if current_obit.photo_two.name %}<br><a href="{{ MEDIA_URL }}/{{ current_obit.photo_two.name }}">{% thumbnail current_obit.photo_two.name 180 180 %}</a>{% endif %}
				</div>
			{% endif %}
			{{ obit_preview|safe }}
		</div>
	</div>
	
</div>

<script type="text/javascript"> 
//<!-- 
  $(function(){
    $("#id_date_of_birth").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: 'c-110:c+0',
            dateFormat: 'yy-mm-dd'
        });
  });

  $(function(){
    $("#id_obituary_publish_date").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: 'c-110:c+1',
            dateFormat: 'yy-mm-dd',
            constrainInput: false
        });
  });

  document.getElementById('id_death_notice').focus()

  $(document).ready(function() {
    $(".preview_ob").colorbox({width: "480px", inline: "true", href: "#preview_ob"});
  });

// Closure:
$(document).ready(function() {
    
    /*
    So this appears to be a function named 'counter' that does two things:
    1.) returns the length of any DOM element passed to it, a required argument
    2.) stuffs that count into the #obit_text_count span
    */
    // Count characters in $el:
    var counter = function($el) {
        
        // Get count:
        if(typeof $el.val() !='undefined') {
            var count = $el.val().length;
        } else {
            var count = null;
        }
        
        // Spit count into span:
        if($el.attr('name') == 'obituary_body') {
            $("#obit_text_count").text(count);
        }
        return count; // Return the count.
        
    },
    
    /*
    Down at the bottom of this chunk of JavaScript, on every keystroke, this 
    'coster' function is called and, given a count, returns a jQuery cost 
    string.
    */
    coster = function(count, first_photo_count, second_photo_count) {
        
        var val = '0';
        var column_inch = 0;
        var price = 0;
        
        if (first_photo_count == null && second_photo_count == null) {
            // alert('No photos');
            // 4" or less
            if (count <= 563) {
                price = 100;
                column_inch = 4;
            // 4½" or less
            } else if (count > 563 && count <= 660) {
                price = 112.50;
                column_inch = 4.5;
            // 5"
            } else if (count > 660 && count <= 750) {
                price = 125;
                column_inch = 5;
            // 5½"
            } else if (count > 750 && count <= 825) {
                price = 137.50;
                column_inch = 5.5;
            // 6"
            } else if (count > 825 && count <= 900) {
                price = 150;
                column_inch = 6;
            // 6½"
            } else if (count > 900 && count <= 935) {
                price = 162.50;
                column_inch = 6.5;
            // 7"
            } else if (count > 935 && count <= 975) {
                price = 175;
                column_inch = 7;
            // 7½"
            } else if (count > 975 && count <= 1100) {
                price = 187.50;
                column_inch = 7.5;
            // 8"
            } else if (count > 1100 && count <= 1250) {
                price = 200;
                column_inch = 8;
            // 8½"
            } else if (count > 1250 && count <= 1294) {
                price = 212.50;
                column_inch = 8.5;
            // 9"
            } else if (count > 1294 && count <= 1425) {
                price = 225;
                column_inch = 9;
            // 9½"
            } else if (count > 1425 && count <= 1550) {
                price = 237.50;
                column_inch = 9.5;
            // 10"
            } else if (count > 1550 && count <= 1688) {
                price = 250;
                column_inch = 10;
            // 11"
            } else if (count > 1688 && count <= 1875) {
                price = 275;
                column_inch = 11;
            // 12"
            } else if (count > 1875 && count <= 2063) {
                price = 300;
                column_inch = 12;
            // 13"
            } else if (count > 2063 && count <= 2250) {
                price = 325;
                column_inch = 13;
            // 14"
            } else if (count > 2250 && count <= 2438) {
                price = 350;
                column_inch = 14;
            // 15"
            } else if (count > 2438 && count <= 2625) {
                price = 375;
                column_inch = 15;
            // 16"
            } else if (count > 2625 && count <= 2813) {
                price = 400;
                column_inch = 16;
            // 17"
            } else if (count > 2813 && count <= 3000) {
                price = 425;
                column_inch = 17;
            // 18"
            } else if (count > 3000 && count <= 3188) {
                price = 450;
                column_inch = 18;
            // 19"
            } else if (count > 3188 && count <= 3375) {
                price = 475;
                column_inch = 19;
            // 20"
            } else if (count > 3375 && count <= 3563) {
                price = 500;
                column_inch = 20;
            // 21"
            } else if (count > 3563 && count <= 3750) {
                price = 525;
                column_inch = 21;
            // 22"
            } else if (count > 3750 && count <= 3938) {
                price = 550;
                column_inch = 22;
            // 23"
            } else if (count > 3938 && count <= 4125) {
                price = 575;
                column_inch = 23;
            // 24"
            } else if (count > 4125 && count <= 4313) {
                price = 600;
                column_inch = 24;
            // 25"
            } else if (count > 4313 && count <= 4500) {
                price = 625;
                column_inch = 25;
            // 26"
            } else if (count > 4500 && count <= 4688) {
                price = 650;
                column_inch = 26;
            // 27"
            } else if (count > 4688 && count <= 4875) {
                price = 675;
                column_inch = 27;
            // 28"
            } else if (count > 4875 && count <= 5063) {
                price = 700;
                column_inch = 28;
            // 29"
            } else if (count > 5063 && count <= 5250) {
                price = 725;
                column_inch = 29;
            // 30"
            } else if (count > 5250 && count <= 5438) {
                price = 750;
                column_inch = 30;
            // 31"
            } else if (count > 5438 && count <= 5625) {
                price = 775;
                column_inch = 31;
            // 32"
            } else if (count > 5625 && count <= 5813) {
                price = 800;
                column_inch = 32;
            // 33"
            } else if (count > 5813 && count <= 6000) {
                price = 825;
                column_inch = 33;
            // 34"
            } else if (count > 6000 && count <= 6188) {
                price = 850;
                column_inch = 34;
            // 35"
            } else if (count > 6188 && count <= 6375) {
                price = 875;
                column_inch = 35;
            // 36"
            } else if (count > 6375 && count <= 6563) {
                price = 900;
                column_inch = 42;
            // More than 21"
            } else if (count > 6563) {
                val = '1050.00, length is more than 42 total inches. You may need to make some edits';
                price = 1050;
                column_inch = 42;
            }
        } else if (first_photo_count && second_photo_count == null) {
            // alert('One photo');
            // 4" or less
            if (count <= 160) {
                price = 50;
                column_inch = 4;
            // 4½"
            } else if (count > 160 && count <= 240) {
                price = 62.50;
                column_inch = 4.5;
            // 5"
            } else if (count > 240 && count <= 350) {
                price = 75;
                column_inch = 5;
            // 5½"
            } else if (count > 350 && count <= 425) {
                price = 87.50;
                column_inch = 5.5;
            // 6"
            } else if (count > 425 && count <= 475) {
                price = 100;
                column_inch = 6;
            // 6½"
            } else if (count > 475 && count <= 550) {
                price = 112.50;
                column_inch = 6.5;
            // 7"
            } else if (count > 550 && count <= 625) {
                price = 125;
                column_inch = 7;
            // 7½"
            } else if (count > 625 && count <= 700) {
                price = 137.50;
                column_inch = 7.5;
            // 8"
            } else if (count > 700 && count <= 775) {
                price = 150;
                column_inch = 8;
            // 8½"
            } else if (count > 775 && count <= 800) {
                price = 162.50;
                column_inch = 8.5;
            // 9"
            } else if (count > 800 && count <= 950) {
                price = 175;
                column_inch = 9;
            // 9½"
            } else if (count > 950 && count <= 1150) {
                price = 187.50;
                column_inch = 9.5;
            // 10"
            } else if (count > 1150 && count <= 1200) {
                price = 200;
                column_inch = 10;
            // 11"
            } else if (count > 1200 && count <= 1400) {
                price = 225;
                column_inch = 11;
            // 12"
            } else if (count > 1400 && count <= 1550) {
                price = 250;
                column_inch = 12;
            // 13"
            } else if (count > 1550 && count <= 1775) {
                price = 275;
                column_inch = 13;
            // 14"
            } else if (count > 1775 && count <= 1950) {
                price = 300;
                column_inch = 14;
            // 15"
            } else if (count > 1950 && count <= 2200) {
                price = 325;
                column_inch = 15;
            // 16"
            } else if (count > 2200 && count <= 2400) {
                price = 350;
                column_inch = 16;
            // 17"
            } else if (count > 2400 && count <= 2550) {
                price = 375;
                column_inch = 17;
            // 18"
            } else if (count > 2550 && count <= 2788) {
                price = 400;
                column_inch = 18;
            // 19"
            } else if (count > 2788 && count <= 2975) {
                price = 425;
                column_inch = 19;
            // 20"
            } else if (count > 2975 && count <= 3163) {
                price = 450;
                column_inch = 20;
            // 21"
            } else if (count > 3163 && count <= 3350) {
                price = 475;
                column_inch = 21;
            // 22"
            } else if (count > 3350 && count <= 3538) {
                price = 500;
                column_inch = 22;
            // 23"
            } else if (count > 3538 && count <= 3725) {
                price = 525;
                column_inch = 23;
            // 24"
            } else if (count > 3725 && count <= 3913) {
                price = 550;
                column_inch = 24;
            // 25"
            } else if (count > 3913 && count <= 4100) {
                price = 575;
                column_inch = 25;
            // 26"
            } else if (count > 4100 && count <= 4288) {
                price = 600;
                column_inch = 26;
            // 27"
            } else if (count > 4288 && count <= 4475) {
                price = 625;
                column_inch = 27;
            // 28"
            } else if (count > 4475 && count <= 4663) {
                price = 650;
                column_inch = 28;
            // 29"
            } else if (count > 4663 && count <= 4850) {
                price = 675;
                column_inch = 29;
            // 30"
            } else if (count > 4850 && count <= 5038) {
                price = 700;
                column_inch = 30;
            // 31"
            } else if (count > 5038 && count <= 5225) {
                price = 725;
                column_inch = 31;
            // 32"
            } else if (count > 5225 && count <= 5413) {
                price = 750;
                column_inch = 32;
            // 33"
            } else if (count > 5413 && count <= 5600) {
                price = 775;
                column_inch = 33;
            // 34"
            } else if (count > 5600 && count <= 5788) {
                price = 800;
                column_inch = 34;
            // 35"
            } else if (count > 5788 && count <= 5975) {
                price = 825;
                column_inch = 35;
            // 36"
            } else if (count > 5975 && count <= 6163) {
                price = 850;
                column_inch = 36;
            } else {
                val = '1050.00, length is more than 42 total inches. You may need to make some edits';
                price = 1050;
                column_inch = 42;
            }
        } else if (first_photo_count && second_photo_count) {
            // alert('Two photos');
            // 8" or less
            if (count <= 700) {
                price = 100;
                column_inch = 8;
            // 8½"
            } else if (count > 700 && count <= 750) {
                price = 112.50;
                column_inch = 8.5;
            // 9"
            } else if (count > 750 && count <= 888) {
                price = 125;
                column_inch = 9;
            // 9½"
            } else if (count > 888 && count <= 950) {
                price = 137.50;
                column_inch = 9.5;
            // 10"
            } else if (count > 950 && count <= 1075) {
                price = 150;
                column_inch = 10;
            // 11"
            } else if (count > 1075 && count <= 1263) {
                price = 175;
                column_inch = 11;
            // 12"
            } else if (count > 1263 && count <= 1450) {
                price = 200;
                column_inch = 12;
            // 13"
            } else if (count > 1450 && count <= 1638) {
                price = 225;
                column_inch = 13;
            // 14"
            } else if (count > 1638 && count <= 1825) {
                price = 250;
                column_inch = 14;
            // 15"
            } else if (count > 1825 && count <= 2013) {
                price = 275;
                column_inch = 15;
            // 16"
            } else if (count > 2013 && count <= 2200) {
                price = 300;
                column_inch = 16;
            // 17"
            } else if (count > 2200 && count <= 2388) {
                price = 325;
                column_inch = 17;
            // 18"
            } else if (count > 2388 && count <= 2575) {
                price = 350;
                column_inch = 18;
            // 19"
            } else if (count > 2575 && count <= 2763) {
                price = 375;
                column_inch = 19;
            // 20"
            } else if (count > 2763 && count <= 2950) {
                price = 400;
                column_inch = 20;
            // 21"
            } else if (count > 2950 && count <= 3138) {
                price = 425;
                column_inch = 21;
            // 22"
            } else if (count > 3138 && count <= 3325) {
                price = 450;
                column_inch = 22;
            // 23"
            } else if (count > 3325 && count <= 3513) {
                price = 475;
                column_inch = 23;
            // 24"
            } else if (count > 3513 && count <= 3700) {
                price = 500;
                column_inch = 24;
            // 25"
            } else if (count > 3700 && count <= 3888) {
                price = 525;
                column_inch = 25;
            // 26"
            } else if (count > 3888 && count <= 4075) {
                price = 550;
                column_inch = 26;
            // 27"
            } else if (count > 4075 && count <= 4263) {
                price = 575;
                column_inch = 27;
            // 28"
            } else if (count > 4263 && count <= 4450) {
                price = 600;
                column_inch = 28;
            // 29"
            } else if (count > 4450 && count <= 4638) {
                price = 625;
                column_inch = 29;
            // 30"
            } else if (count > 4638 && count <= 4825) {
                price = 650;
                column_inch = 30;
            // 31"
            } else if (count > 4825 && count <= 5013) {
                price = 675;
                column_inch = 31;
            // 32"
            } else if (count > 5013 && count <= 5200) {
                price = 700;
                column_inch = 32;
            // 33"
            } else if (count > 5200 && count <= 5388) {
                price = 725;
                column_inch = 33;
            // 34"
            } else if (count > 5388 && count <= 5575) {
                price = 750;
                column_inch = 34;
            // 35"
            } else if (count > 5575 && count <= 5763) {
                price = 775;
                column_inch = 35;
            // 36"
            } else if (count > 5763 && count <= 6325) {
                price = 775;
                column_inch = 35;
            // 42"
            } else if (count > 6325 && count <= 7450) {
                price = 800;
                column_inch = 42;
            // More than 21"
            } else if (count > 7450) {
                val = '1050.00, length is more than 42 total inches. You may need to make some edits';
                price = 1050;
                column_inch = 42;
            }
        }
        
        if(column_inch < 37) {
            if(typeof first_photo_count !='undefined' && typeof second_photo_count !='undefined' && second_photo_count != null) {
                val = '$' + (price + 100).toFixed(2) + ', length of ' + column_inch + ' total inches and two photos.';
            } else if(first_photo_count != null && typeof first_photo_count !='undefined') {
                val = '$' + (price + 50).toFixed(2) + ', length of ' + column_inch + ' total inches and one photo.';
            } else {
               val = '$' + price.toFixed(2) + ', length of ' + column_inch + ' total inches.';
            }
        } else {
           val = '<b>Length is more that 36 total inches.</b> Please contact your Register-Guard classified representative.'
        }
        
        $cost.html(val);
        
    },
    
    // Cache the textarea element:
    $obit = $("#id_obituary_body"),
    
    // Cache the cost element:
    $cost = $('#obit_text_cost'),
    
    // Cache the first picture element:
    $picture_one = $('#photo-clear_id'),
    
    // Cache the second picture element;
    $picture_two = $('#photo_two-clear_id'),
    
    // Initialize counter value on load:
    count = counter($obit), // Call the counter() function.
    
    // Initialize image one on load:
    first_photo_count = counter($picture_one);
    
    // Initialize image two on load:
    second_photo_count = counter($picture_two);
    
    // Initialize the cost value on load:
    cost = coster(count, first_photo_count, second_photo_count);
    
    // Key strokes?
    $obit.on('keyup', function () {
        
        // Key has been pressed!
        coster(counter($(this)), first_photo_count, second_photo_count); // Call the counter & coster() functions.
        
    });
    
});
// -->
</script>

{% endblock content %}
