{% extends "base_reader_form.html" %}
{% load adminmedia %}

{% block js %}
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="http://static.registerguard.com/colorbox/jquery.colorbox.js"></script>
<script type="text/javascript" src="http://rg-assets.s3.amazonaws.com/v3.5/js/registerguard.js"></script>
{% endblock %}

{% block css %}
<style type="text/css" media="screen">
	<!--
	table {
		margin: 10px 0 10px 0;
		border: 1px solid #000000;
		width: 100%;
	}
	#wrapper {
		background: #eee;
	}
	-->
</style>
<link rel="stylesheet" type="text/css" href="http://static.registerguard.com/colorbox/example4/colorbox.css" media="screen">

<!-- *** THIS BELOW NEEDS TO MOVE. ASK MICKY. *** -->

<style type="text/css" media="screen">
	<!--
	#cboxLoadedContent {
		width: 400px !important;
		text-align: justify;
		font-family: "Times New Roman", Times;
	}
	
	#obit-head {
		font-family: Arial;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}
	
	#estimator {
		color: black;
	}
	
	#id_obituary_body {
		width: 35em;
	}
	
	#id_mailing_address {
		width: 35em;
	}
	-->
</style>

{% endblock %}

{% block content %}
<div class="wrapper">
	{% if messages %}
		{% for message in messages %}
			<p style="color: blue; font-weight: bold;">{{ message }}</p>
		{% endfor %}
	{% endif %}
	
	<table>
		<tr><td><a href="{% url death_notice_index2 %}">Home</a>&nbsp;|&nbsp;<a href="{% url logout2 %}">Logout</a></td></tr>
		<tr><td>Hello {{ user.funeralhomeprofile.full_name }}</td></tr>
	</table>
	
	{% if form.is_multipart %}
	<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
	{% else %}
	<form action="" method="post">{% csrf_token %}
	{% endif %}

	<table>
		<tr class="required" width="100%"><th colspan="2">Items in red are required.</th></tr>
		
		<tr>
			<th colspan="2" class="required">
			{% if form.errors or formset.errors %}
				
				Please address the error(s) below.
				
			{% endif %}
			</th>
		</tr>
		
		<tr {% if form.death_notice.field.required %}class="required"{% endif %}>
			<th>
				{{ form.death_notice.label_tag }}:
			</th>
			<td>
				{{ form.death_notice.errors }}
				{{ form.death_notice }}
				{% if form.death_notice.help_text %}<p>{{ form.death_notice.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.date_of_birth.field.required %}class="required"{% endif %}>
			<th>
				{{ form.date_of_birth.label_tag }}:
			</th>
			<td>
				{{ form.date_of_birth.errors }}
				{{ form.date_of_birth }}
				{% if form.date_of_birth.help_text %}<p>{{ form.date_of_birth.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.obituary_body.field.required %}class="required"{% endif %}>
			<th>
				{{ form.obituary_body.label_tag }}:
			</th>
			<td>
				{{ form.obituary_body.errors }}
				{{ form.obituary_body }}
				{% if form.obituary_body.help_text %}<p>{{ form.obituary_body.help_text|safe }}</p>{% endif %}
				<p id="estimator"><span id="obit_text_count"></span> characters. Estimated cost: <span id="obit_text_cost">0</span></p>
			</td>
		</tr>
		
		<tr {% if form.obituary_publish_date.field.required %}class="required"{% endif %}>
			<th>
				{{ form.obituary_publish_date.label_tag }}:
			</th>
			<td>
				{{ form.non_field_errors }}
				{{ form.obituary_publish_date }}
				{% if form.obituary_publish_date.help_text %}<p>{{ form.obituary_publish_date.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.flag.field.required %}class="required"{% endif %}>
			<th>
				{{ form.flag.label_tag }}:
			</th>
			<td>
				{{ form.flag.errors }}
				{{ form.flag }}
				{% if form.flag.help_text %}<p>{{ form.flag.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.service_insignia.field.required %}class="required"{% endif %}>
			<th>
				{{ form.service_insignia.label_tag }}:
			</th>
			<td>
				{{ form.service_insignia.errors }}
				{{ form.service_insignia }}
				{% if form.service_insignia.help_text %}<p>{{ form.service_insignia.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
	</table>
	
	<table>
	
		<tr {% if form.family_contact.field.required %}class="required"{% endif %}>
			<th>
				{{ form.family_contact.label_tag }}:
			</th>
			<td>
				{{ form.family_contact.errors }}
				{{ form.family_contact }}
				{% if form.family_contact.help_text %}<p>{{ form.family_contact.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.photo.field.required %}class="required"{% endif %}>
			<th>
				{{ form.photo.label_tag }}:
			</th>
			<td>
				{{ form.photo.errors }}
				{{ form.photo }}
				{% if form.photo.help_text %}<p>{{ form.photo.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.photo_two.field.required %}class="required"{% endif %}>
			<th>
				{{ form.photo_two.label_tag }}:
			</th>
			<td>
				{{ form.photo_two.errors }}
				{{ form.photo_two }}
				{% if form.photo_two.help_text %}<p>{{ form.photo_two.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.family_contact_phone.field.required %}class="required"{% endif %}>
			<th>
				{{ form.family_contact_phone.label_tag }}:
			</th>
			<td>
				{{ form.family_contact_phone.errors }}
				{{ form.family_contact_phone }}
				{% if form.family_contact_phone.help_text %}<p>{{ form.family_contact_phone.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.mailing_address.field.required %}class="required"{% endif %}>
			<th>
				{{ form.mailing_address.label_tag }}:
			</th>
			<td>
				{{ form.mailing_address.errors }}
				{{ form.mailing_address }}
				{% if form.mailing_address.help_text %}<p>{{ form.mailing_address.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
	</table>
	
	<table>
		
		
		<tr {% if form.status.field.required %}class="required"{% endif %}>
			<th>
				{{ form.status.label_tag }}:
			</th>
			<td>
				{{ form.status.errors }}
				{{ form.status }}
				{% if form.status.help_text %}<p>{{ form.status.help_text|safe }}</p>{% endif %}
				{% if current_obit.death_notice.funeral_home.fh_user2.rg_rep %}<p>Your classifed advertising representative is {{ current_obit.death_notice.funeral_home.fh_user2.rg_rep.user.get_full_name }}, {{ current_obit.death_notice.funeral_home.fh_user2.rg_rep.rg_rep_phone }}.</p>{% endif %}
			</td>
		</tr>
		
	</table>
	
	<table>
		<tr>
			<td>
				<input type="submit" name="delete" value="Delete" /> 
				<input type="submit" name="submit_add" value="Save and add another" /> 
				<input type="submit" name="submit_continue" value="Save and continue editing" /> 
				<input type="submit" name="submit" value="Save" />
			</td>
		</tr>
	</table>
	</form>
	
	{% if obituary_id %}<p style="font-weight: bold;"><a class="preview_ob" href="#">See a preview</a> | <a href="{% url print_obituary2 obituary_id %}" rel="external">Print the preview</a></p>{% endif %}
	
	<div style="display: none;">
		<div id="preview_ob">
			{% if current_obit.photo.name %}
				<div id="obit_image" style="float: left; margin-right: 14px; margin-bottom: 8px; "><a href="http://{{ current_obit.photo.storage.bucket }}.{{ current_obit.photo.storage.connection.server }}/{{ current_obit.photo.name }}">{{ current_obit.admin_thumbnail|safe }}</a>
				{% if current_obit.photo_two.name %}<br><a href="http://{{ current_obit.photo_two.storage.bucket }}.{{ current_obit.photo_two.storage.connection.server }}/{{ current_obit.photo_two.name }}">{{ current_obit.admin_thumbnail_two|safe }}</a>{% endif %}
				</div>
			{% endif %}
			{{ obit_preview|safe }}
		</div>
	</div>
	
</div>

<script type="text/javascript"> 
//<!-- 
  $(function(){
    $("#id_date_of_birth").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: 'c-110:c+0',
            dateFormat: 'yy-mm-dd'
        });
  });

  $(function(){
    $("#id_obituary_publish_date").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: 'c-110:c+0',
            dateFormat: 'yy-mm-dd',
            constrainInput: false
        });
  });

  document.getElementById('id_death_notice').focus()

  $(document).ready(function() {
    $(".preview_ob").colorbox({width: "480px", inline: "true", href: "#preview_ob"});
  });

// Closure:
$(document).ready(function() {
    
    // Count characters in $el:
    var counter = function($el) {
        
        // Get count:
        var count = $el.val().length;
        
        // Spit count into span:
        $("#obit_text_count").text(count);
        
        return count; // Return the count.
        
    },
    
    coster = function(count) {
        
        var val = '0';
        
        // 4" or less
        if (count <= 1012) {
            val = '50.00, length of 4" or less';
        // 4 1/2"
        } else if (count > 1012 && count <= 1227) {
            val = '62.50, length of approximately 4 1/2"';
        // 5"
        } else if (count > 1227 && count <= 1421) {
            val = '75.00, length of approximately 5"';
        // 5 1/2"
        } else if (count > 1421 && count <= 1635) {
            val = '87.50, length of approximately 5 1/2"';
        // 6"
        } else if (count > 1635 && count <= 1839) {
            val = '100.00, length of approximately 6"';
        // 6 1/2"
        } else if (count > 1839 && count <= 2045) {
            val = '112.50, length of approximately 6 1/2"';
        // 7"
        } else if (count > 2045 && count <= 2214) {
            val = '125.00, length of approximately 7"';
        // 7 1/2"
        } else if (count > 2214 && count <= 2435) {
            val = '137.50, length of approximately 7 1/2"';
        // 8"
        } else if (count > 2435 && count <= 2638) {
            val = '150.00, length of approximately 8"';
        // 8 1/2"
        } else if (count > 2638 && count <= 2900) {
            val = '167.50, length of approximately 8 1/2"';
        // 9"
        } else if (count > 2900 && count <= 3102) {
            val = '175.00, length of approximately 9"';
        // 9 1/2"
        } else if (count > 3102 && count <= 3308) {
            val = '187.50, length of approximately 9 1/2"';
        // 10"
        } else if (count > 3308 && count <= 3502) {
            val = '200.00, length of approximately 10"';
        // 10 1/2"
        } else if (count > 3502 && count <= 3716) {
            val = '212.50, length of approximately 10 1/2"';
        // 11"
        } else if (count > 3716 && count <= 3927) {
            val = '225.00, length of approximately 11"';
        // 11 1/2"
        } else if (count > 3927 && count <= 4132) {
            val = '237.50, length of approximately 11 1/2"';
        // 12"
        } else if (count > 4132 && count <= 4349) {
            val = '250.00, length of approximately 12"';
        // 12 1/2"
        } else if (count > 4349 && count <= 4560) {
            val = '267.50, length of approximately 12 1/2"';
        // 13"
        } else if (count > 4560 && count <= 4831) {
            val = '275.00, length of approximately 13"';
        // 13 1/2"
        } else if (count > 4831 && count <= 5029) {
            val = '287.50, length of approximately 13 1/2"';
        // 14"
        } else if (count > 5029 && count <= 5226) {
            val = '300.00, length of approximately 14"';
        // 14 1/2"
        } else if (count > 5226 && count <= 5432) {
            val = '312.50, length of approximately 14 1/2"';
        // 15"
        } else if (count > 5432 && count <= 5616) {
            val = '325.00, length of approximately 15"';
        // 15 1/2"
        } else if (count > 5616 && count <= 5829) {
            val = '337.50, length of approximately 15 1/2"';
        // 16"
        } else if (count > 5829 && count <= 6046) {
            val = '350.00, length of approximately 16"';
        // 16 1/2"
        } else if (count > 6046 && count <= 6260) {
            val = '367.50, length of approximately 16 1/2"';
        // 17"
        } else if (count > 6260 && count <= 6450) {
            val = '375.00, length of approximately 17"';
        // 17 1/2"
        } else if (count > 6450 && count <= 6683) {
            val = '387.50, length of approximately 17 1/2"';
        // 18"
        } else if (count > 6683 && count <= 6860) {
            val = '400.00, length of approximately 18"';
        // More than 18" and less than 21"
        } else if (count > 6860 && count <= 8057) {
            val = '475.00, length of approximately 18"';
        } else {
            val = '475.00, approximate length is more than 21". You may have to make some edits';
        }
        
        $cost.html('$' + val + '.');
        
    },
    
    // Cache the textarea element:
    $obit = $("#id_obituary_body"),
    
    // Cache the cost element:
    $cost = $('#obit_text_cost'),
    
    // Initialize counter value on load:
    count = counter($obit), // Call the counter() function.
    
    // Initialize the cost value on load:
    cost = coster(count);
    
    // Key strokes?
    $obit.on('keyup', function () {
        
        // Key has been pressed!
        coster(counter($(this))); // Call the counter & coster() functions.
        
    });
    
});
// -->
</script>

{% endblock content %}
