{% extends "base_reader_form.html" %}
{% load adminmedia %}

{% block js %}
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="http://static.registerguard.com/colorbox/jquery.colorbox.js"></script>
<script type="text/javascript" src="http://rg-assets.s3.amazonaws.com/v3.5/js/registerguard.js"></script>
<script type="text/javascript" src="http://static.registerguard.com/noblecount/jquery.NobleCount.js"></script>
{% endblock %}

{% block css %}
<style type="text/css" media="screen">
	<!--
	table {
		margin: 10px 0 10px 0;
		border: 1px solid #000000;
		width: 100%;
	}
	#wrapper {
		background: #eee;
	}
	-->
</style>
<link rel="stylesheet" type="text/css" href="http://static.registerguard.com/colorbox/example4/colorbox.css" media="screen">

<!-- *** THIS BELOW NEEDS TO MOVE. ASK MICKY. *** -->

<style type="text/css" media="screen">
	<!--
	#cboxLoadedContent {
		width: 400px !important;
		text-align: justify;
		font-family: "Times New Roman", Times;
	}
	
	#obit-head {
		font-family: Arial;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}
	
	#estimator {
		color: black;
	}
	-->
</style>

{% endblock %}

{% block content %}
<div class="wrapper">
	{% if messages %}
		{% for message in messages %}
			<p style="color: blue; font-weight: bold;">{{ message }}</p>
		{% endfor %}
	{% endif %}
	
	<table>
		<tr><td><a href="{% url death_notice_index2 %}">Home</a>&nbsp;|&nbsp;<a href="{% url logout2 %}">Logout</a></td></tr>
		<tr><td>Hello {{ user.funeralhomeprofile.full_name }}</td></tr>
	</table>
	
	{% if form.is_multipart %}
	<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
	{% else %}
	<form action="" method="post">{% csrf_token %}
	{% endif %}

	<table>
		<tr class="required" width="100%"><th colspan="2">Items in red are required.</th></tr>
		
		<tr>
			<th colspan="2" class="required">
			{% if form.errors or formset.errors %}
				
				Please address the error(s) below.
				
			{% endif %}
			</th>
		</tr>
		
		<tr {% if form.death_notice.field.required %}class="required"{% endif %}>
			<th>
				{{ form.death_notice.label_tag }}:
			</th>
			<td>
				{{ form.death_notice.errors }}
				{{ form.death_notice }}
				{% if form.death_notice.help_text %}<p>{{ form.death_notice.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.date_of_birth.field.required %}class="required"{% endif %}>
			<th>
				{{ form.date_of_birth.label_tag }}:
			</th>
			<td>
				{{ form.date_of_birth.errors }}
				{{ form.date_of_birth }}
				{% if form.date_of_birth.help_text %}<p>{{ form.date_of_birth.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.obituary_body.field.required %}class="required"{% endif %}>
			<th>
				{{ form.obituary_body.label_tag }}:
			</th>
			<td>
				{{ form.obituary_body.errors }}
				{{ form.obituary_body }}
				{% if form.obituary_body.help_text %}<p>{{ form.obituary_body.help_text|safe }}</p>{% endif %}
				<p id="estimator"><span id="obit_text_count"></span> characters so far ... Estimated cost: <span id="obit_text_cost">0</span></p>
			</td>
		</tr>
		
	</table>
	
	<table>
	
		<tr {% if form.family_contact.field.required %}class="required"{% endif %}>
			<th>
				{{ form.family_contact.label_tag }}:
			</th>
			<td>
				{{ form.family_contact.errors }}
				{{ form.family_contact }}
				{% if form.family_contact.help_text %}<p>{{ form.family_contact.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.photo.field.required %}class="required"{% endif %}>
			<th>
				{{ form.photo.label_tag }}:
			</th>
			<td>
				{{ form.photo.errors }}
				{{ form.photo }}
				{% if form.photo.help_text %}<p>{{ form.photo.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
		<tr {% if form.family_contact_phone.field.required %}class="required"{% endif %}>
			<th>
				{{ form.family_contact_phone.label_tag }}:
			</th>
			<td>
				{{ form.family_contact_phone.errors }}
				{{ form.family_contact_phone }}
				{% if form.family_contact_phone.help_text %}<p>{{ form.family_contact_phone.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
	</table>
	
	<table>
		
		
		<tr {% if form.status.field.required %}class="required"{% endif %}>
			<th>
				{{ form.status.label_tag }}:
			</th>
			<td>
				{{ form.status.errors }}
				{{ form.status }}
				{% if form.status.help_text %}<p>{{ form.status.help_text|safe }}</p>{% endif %}
			</td>
		</tr>
		
	</table>
	
	<table>
		<tr>
			<td>
				<input type="submit" name="delete" value="Delete" /> 
				<input type="submit" name="submit_add" value="Save and add another" /> 
				<input type="submit" name="submit_continue" value="Save and continue editing" /> 
				<input type="submit" name="submit" value="Save" />
			</td>
		</tr>
	</table>
	</form>
	
	{% if obituary_id %}<p style="font-weight: bold;"><a class="preview_ob" href="#">See a preview</a> | <a href="{% url print_obituary2 obituary_id %}" rel="external">Print the preview</a></p>{% endif %}
	
	<div style="display: none;">
		<div id="preview_ob">
			{% if current_obit.photo.name %}<div id="obit_image" style="float: left; margin-right: 14px; margin-bottom: 8px; "><a href="http://{{ current_obit.photo.storage.bucket }}.{{ current_obit.photo.storage.connection.server }}/{{ current_obit.photo.name }}">{% endif %}{{ current_obit.admin_thumbnail|safe }}{% if current_obit.photo.name %}</a></div>{% endif %}
			{{ obit_preview|safe }}
		</div>
	</div>
	
</div>

<script type="text/javascript"> 
//<!-- 
  $(function(){
    $("#id_date_of_birth").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: 'c-110:c+0',
            dateFormat: 'yy-mm-dd'
        });
  });

  $(function(){
    $(".marriage_date_picker").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: 'c-110:c+0',
            dateFormat: 'yy-mm-dd',
            constrainInput: false
        });
  });

  $(function(){
    $(".spouse_death_picker").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: 'c-110:c+0',
            dateFormat: 'yy-mm-dd',
            constrainInput: false
        });
  });

  $(function(){
    $("#id_obituary_body").NobleCount("#obit_text_count", {
      max_chars: 0,
      on_update: function(t_obj, char_area, c_settings, char_rem){
        // 4"
        if ($(t_obj).val().length <= 1012) {
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$50.00, 4" or less.');
        // 4 1/2"
        } else if (($(t_obj).val().length > 1012) && ($(t_obj).val().length <= 1227)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$67.50, about 4 1/2"');
        // 5"
        } else if (($(t_obj).val().length > 1227) && ($(t_obj).val().length <= 1421)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$75.00, about 5"');
        // 5 1/2"
        } else if (($(t_obj).val().length > 1421) && ($(t_obj).val().length <= 1635)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$87.50, about 5 1/2"');
        // 6"
        } else if (($(t_obj).val().length > 1635) && ($(t_obj).val().length <= 1839)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$100.00, about 6"');
        // 6 /1/2"
        } else if (($(t_obj).val().length > 1839) && ($(t_obj).val().length <= 2045)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$112.50, about 6 1/2"');
        // 7"
        } else if (($(t_obj).val().length > 2045) && ($(t_obj).val().length <= 2214)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$125.00, about 7"');
        // 7 1/2"
        } else if (($(t_obj).val().length > 2214) && ($(t_obj).val().length <= 2435)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$137.50, about 7 1/2"');
        // 8"
        } else if (($(t_obj).val().length > 2435) && ($(t_obj).val().length <= 2638)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$150.00, about 8"');
        // 8 1/2"
        } else if (($(t_obj).val().length > 2638) && ($(t_obj).val().length <= 2900)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$167.50, about 8 1/2"');
        // 9"
        } else if (($(t_obj).val().length > 2900) && ($(t_obj).val().length <= 3102)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$175.00, about 9"');
        //9 1/2"
        } else if (($(t_obj).val().length > 3102) && ($(t_obj).val().length <= 3308)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$187.50, about 9 1/2"');
        // 10"
        } else if (($(t_obj).val().length > 3308) && ($(t_obj).val().length <= 3502)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$200.00, about 10"');
        // 10 1/2"
        } else if (($(t_obj).val().length > 3502) && ($(t_obj).val().length <= 3716)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$212.50, about 10 1/2"');
        // 11"
        } else if (($(t_obj).val().length > 3716) && ($(t_obj).val().length <= 3927)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$225.00, about 11"');
        // 11 1/2"
        } else if (($(t_obj).val().length > 3927) && ($(t_obj).val().length <= 4132)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$237.50, about 11 1/2"');
        // 12"
        } else if (($(t_obj).val().length > 4132) && ($(t_obj).val().length <= 4349)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$250.00, about 12"');
        // 12 1/2"
        } else if (($(t_obj).val().length > 4349) && ($(t_obj).val().length <= 4560)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$267.50, about 12 1/2"');
        // 13"
        } else if (($(t_obj).val().length > 4560) && ($(t_obj).val().length <= 4831)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$275.00, about 13"');
        // 13 1/2"
        } else if (($(t_obj).val().length > 4831) && ($(t_obj).val().length <= 5029)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$287.50, about 13 1/2"');
        // 14"
        } else if (($(t_obj).val().length > 5029) && ($(t_obj).val().length <= 5226)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$300.00, about 14"');
        // 14 1/2"
        } else if (($(t_obj).val().length > 5226) && ($(t_obj).val().length <= 5432)) {
          char_area.css('font-weight', 'bold, about 14 1/2"');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$312.50');
        // 15"
        } else if (($(t_obj).val().length > 5432) && ($(t_obj).val().length <= 5616)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$325.00, about 15"');
        // 15 1/2"
        } else if (($(t_obj).val().length > 5616) && ($(t_obj).val().length <= 5829)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$337.50, about 15 1/2"');
        // 16"
        } else if (($(t_obj).val().length > 5829) && ($(t_obj).val().length <= 6046)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$350.00, about 16"');
        // 16 1/2"
        } else if (($(t_obj).val().length > 6046) && ($(t_obj).val().length <= 6260)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$367.50, about 16 1/2"');
        // 17"
        } else if (($(t_obj).val().length > 6260) && ($(t_obj).val().length <= 6450)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$375.00, about 17"');
        // 17 1/2"
        } else if (($(t_obj).val().length > 6450) && ($(t_obj).val().length <= 6683)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$387.50, about 17 1/2"');
        // 18"
        } else if (($(t_obj).val().length > 6683) && ($(t_obj).val().length <= 6860)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$400.00, about 18"');
        // 21"
        } else if (($(t_obj).val().length > 6860) && ($(t_obj).val().length <= 8057)) {
          char_area.css('font-weight', 'bold');
          char_area.text($(t_obj).val().length);
          $('#obit_text_cost').text('$475.00, about 21"');
        }
      }
    });
  });

  document.getElementById('id_death_notice').focus()

  $(document).ready(function() {
    $(".preview_ob").colorbox({width: "480px", inline: "true", href: "#preview_ob"});
  });
// -->
</script>

{% endblock content %}
