{% extends "admin/change_list.html" %}
{% load adminmedia admin_list i18n %}
{% load url from future %}

{% block object-tools-items %}
	<li>
		<a href="/admin/obituary/funeralhomeprofile/?state__exact=">Oregon funeral homes only</a>
	</li>
	<li>
		<a href="/admin/obituary/funeralhomeprofile/">All</a>
	</li>
	<li>
		<a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
			{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
		</a>
	</li>
{% endblock %}
